{% extends "base.twig" %}

{% block head %}
<style>
  {% for work in post.get_field('hp_portfolio_items') %}
    {% for project in work.project %}
    .panel-showcase-{{ project.slug }}:before {
      background-image: url('{{ work.preview.url }}');
      background-blend-mode: multiply;
      opacity: 0.6;
      {% for color in project.get_field('port_swatches')|slice(0, 1) %} background-color: {{ color.swatch }};
      {% endfor %}
    }
    {% endfor %}
  {% endfor %}
</style>
{% endblock %}

{% block layout 'layout--home grid-panel' %}

{% block page_header %}
<div class="row row--narrow helper-padding js-reveal">
  <h1>
   <img src="/wp-content/themes/lentilz/assets/img/signature_tp.png" alt="Lentie Ward Signature graphic" title="Lentie Ward">
  </h1>
  {% if post.hp_subhead %}
  <p class="page-subhead">{{ post.hp_subhead }}</p>
  {% endif %}
</div>
{% endblock %}

{% block content %}
<span id="work"></span>
{% for work in post.get_field('hp_portfolio_items') %}
{% for project in work.project %}
<section class="panel panel-showcase-{{ project.slug }}"{% for color in project.get_field('port_swatches')|slice(0, 1) %} style="background-color: {{ color.swatch }};"{% endfor %}>
  <div class="row row--narrow helper-padding">
    <!-- <img src="{{ work.preview.url }}" alt="{{ work.preview.alt }}" class="panel-image"> -->
    <a href="{{ project.link}}"><h2 class="panel-title panel-link js-reveal">{{ project.title }}</h2></a>
    <!-- <h3 class="panel-subtitle">{{ project.port_project_type }}</h3> -->
  </div>

</section> <!-- /.showcase-panel -->
{% endfor%}
{% endfor %}

{% endblock %}
