{% extends "base.twig" %}

{% block content %}
<article id="post-{{post.ID}}" class="page-content post-{{post.slug}}" role="article">
  <div class="row">
    <h1 class="page-title">{{post.title}}</h1>
    {% if post.get_thumbnail %}
      <img src="{{post.thumbnail.src}}" alt="{{post.thumbnail.alt}}">
    {% endif %}
    {{post.content}}
  </div> <!-- /.row -->
</article> <!-- /.page-content -->
{% endblock %}
